

input{
    border-radius: 6px;
    width : 280px; 
    height: 30px
    
}


.eight{
    margin-bottom: 10px;
}

.one{
    margin-top:100px;
    
}

.two{
    margin-top: 6px;

}

button{
    color:white; 
    background-color:#007BFF;
    border-radius: 6px;
    width: 290px;
    height: 30px
    
    
    

    
}

.three{
    margin-top: 9px;
    
}  

button:hover {
    background-color: #0056b3;
}

span{

    margin-top: 10px;
}

table{
    background-color: white;
    margin-top: 50px;
    border-style:ridge;
    border-color: rgba(0, 0, 0, 0.434);
    border-radius: 4px;
    padding: 30px;
}

.four{
    display: inline;
    
    






}